HERMES_IMAGE=nousresearch/hermes-agent:latest
INSTANCE=hermes-light
MEMORY=2g
CPUS=2
DISK_BUDGET_GB=10
VNC_PORT=5901
NOVNC_PORT=6081
DASHBOARD_PORT=9119
VNC_PASSWORD=change-me
TZ=UTC
HERMES_UID=10000
HERMES_GID=10000
